<h3>Sign In</h3>

<form action="/admin" method="post">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password">

    <input type="submit" value="login" class="btn">

</form>

<!-- <form action="/register" method="post">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password">

    <input type="submit" value="register" class="btn">

</form> -->
