<h1>about page</h1>
<h1> About Me </h1>
<p>Welcome to my personal blog! I'm a computer science student at Jimma University with a passion for building things. As a full-stack developer, my primary focus lies in the backend, where I enjoy tackling complex challenges and crafting robust and efficient systems. Here, I'll be sharing my thoughts, experiences, and learnings as I navigate the world of technology and development.</p>