<h1>Contact Me</h1>

<p>You can reach me at:</p>
<ul>
    <li>Email: <a href="mailto:natnaelb382@gmail.com">Email</a></li>
    <li>Phone: +251919334506</li>
    <li>Telegram: <a href="http://t.me/NatnaellB">Telegram</a></li>
</ul>